
/* univarsal for margiin and padding */

*{
    margin: 0;
    padding: 0;
    
    
}
/* body is used for bulb pic */
.body{
background-image: url(../source/banner2.png);
height:680px;
width: 100%;

}
/* this text is for bulb pic text */
.text{
     padding:160px;
text-align: right;
font-size: 30px;
font-family: arial;

}
/* span has used for the font family of the bulb pic test */
span{
    font-size:10px;
    font-family: arial;
}
button{
    height:40px;
    width: 105px;
    background-color: orangered;
    border: none;
    margin-top:20px;
    border-radius: 4px;
}
 .personphoto-text{
    margin: 90px;
    display: flex;background-color: rgb(165, 255, 255);
    border-radius: 30px;
 }
 /* these are used for the text located beside the person */
 .bptext{
    margin-top: 250px;
 }
.stext{
font-size: 40px;
}
.mark{
  position: relative;
    top:15px;

}
.myplan{
   text-align: center;
    font-family: arial;
    background-color: orangered;
    font-size:40px;
}
/* i have worked individually for each icon */
.icon-pic{
position: relative;
left: 200px;
top: 20px;


}
img{
margin-right:15%;
}
.icon-name{
    display: flex;
    position: relative;
    top: 20px;
}
.icon-name4{
    position: relative;
    left: 735px;
}
.icon-name3{
    position: relative;
    left: 540px;
}
.icon-name2{
    position: relative;
    left: 345px;
}
.icon-name1{
    position: relative;
    left: 155px;
}
/* .sub has used for each text which is under the icon name */
.sub{
    display: flex;
    position: relative;
    top:20px;
    font-size: 40px;
}
.sub4{
    position: relative;
    
    left:67%;
}
.sub3{
    position: relative;
    left: 49%;
}
.sub2{
    position: relative;
    left: 31.5%;
}
.sub1{
    position: relative;
    left:14%;
}
/* this is used for the watch pic */
.watch-text{
    background-image:linear-gradient(to left, rgba(252, 247, 245, 0.52),
rgba(220, 106, 13, 0.73)), url('../source/watch.png');
    margin: 155px;
    height: 200px;
    background-repeat: no-repeat;
    padding: 40px;
    font-size: 40px;
    color: white;


}
/* here i have worked for the footer */
   footer{
    background-color: black;
    position: relative;
    top: 100px;
    height: 700px;
    width: 100%;
   }
   .bottom-text{
    color: white;
    
    padding: 150px;
    display: flex;
    justify-content: space-between;
   }
   /* failed to fixed image */
.last-image1{
    height: 50px;
    width: 45px;
    position: relative;
    left: 100px;
}
.last-image2{
    position: relative;
    margin-left: 1px;
}
.last-image3{
    position: relative;
    
}